[Desktop Entry]
Encoding=UTF-8
Version=1.0
NoDisplay=true
Type=Application
Name=Mail
Exec=/usr/lib/thunderbird/thunderbird %u
Comment=Custom definition for Thunderbird
